body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #4B0150 !important;
}
.user_card {
	width: 1000px;
	margin-top: auto;
	margin-bottom: auto;
	background: #FFFFFF;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}

.form_container {
	margin-top: 20px;
}

#form-title{
	color: #4B0150;

}

.send_btn {
	width: 100%;
	background: #4B0150 !important;
	color: white !important;
}
.send_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.send_container {
	padding: 0 2rem;
}


#messages{
	background-color: grey;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}